@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 5px 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.5px;
}

h6 {
  font-size: 11px;
}

p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #05b1d8;
}

a:hover {
  text-decoration: underline;
}

form textarea, .campo-input-texto {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 5px 8px;
  margin: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-radius: 3px;
  color: #333;
}

form textarea:focus, .campo-input-texto:focus {
  outline-offset: unset;
}

form label {
  display: block;
  font-weight: 500;
}

[class*="grid-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

.page-container {
  max-width: 1280px;
  margin: 0 auto;
}

form {
  margin: 10px 0;
}

form [class*="grid-"] label {
  line-height: 38px;
}

form .campos-formulario {
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 100%;
}

form textarea {
  resize: none;
}

.btn-default {
  border: 1px solid #dcdcdc;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 3px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #333;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.btn-default:hover {
  background: #333;
  color: #fff;
}
