// Espaçamento entre as colunas
$grid-space: 10px;

// Quantidade de colunas
$grid-columns: 12;

// Largura máxima
$grid-max: 1280px;

[class*="grid-"] {
	float: left;
	padding: 0 $grid-space;
	margin: 5px 0;
	box-sizing: border-box;
}

@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		width: 100% / $grid-columns * $i
	}
}

.page-container {
	max-width: $grid-max;
	margin: 0 auto;
}